/* FONDO PRINCIPAL */
body {
    background-image: url('/public/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background-color: #ffdea1ea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header h1,
header h2,
header h3,
#inicio h2,
#menu h2,
#menu p {
    font-family: 'Bungee Spice', sans-serif;
}

/* Encabezado */
header {
    background-color: #ffffffe3;
    color: #000000;
    padding: 20px;
    text-align: center;
}

header .centrarimg {
    text-align: center;
    margin-bottom: 20px;
}

header .frase,
header .frased {
    font-weight: bold;
    margin: 0;
}

header .frase {
    color: #ff0000;
    font-size: 1.5em;
}

header .frased {
    color: #00910c;
    font-size: 1em;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a:hover {
    color: #ee8a47;
}

/* Contenido principal */
main {
    flex: 1;
    padding: 20px;
}

/*  secciones */
section {
    margin-bottom: 40px;
    text-align: center;
}

#inicio p {
    font-weight: bold;
    font-size: 1.2em;
}

#menu {
    text-align: center;
}

.menucatalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menucatalogo .producto {
    text-align: center;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.menucatalogo .producto:hover {
    transform: translateY(-10px);
}

.menucatalogo .producto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.menucatalogo .producto:hover img {
    transform: scale(1.1);
}

.menucatalogo .producto p {
    margin-top: 10px;
    font-weight: bold;
}

.menucatalogo .producto button {
    padding: 10px 20px;
    background-color: #ee8a47;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.menucatalogo .producto button:hover {
    background-color: #a04545;
}

/* Estilos para el pie de página */
footer {
    background-color: #f1c27d;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
    text-align: left;
}

.footer-section h3 {
    color: #f1c27d;
    font-size: 1.5em;
    margin-bottom: 10px;
    background-color: #613733bb;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.footer-section p {
    color: #333;
    margin: 5px 0;
}

.footer-section img {
    max-width: 50px;
    margin: 5px;
}

.footer-section strong {
    display: block;
    margin: 10px 0 5px;
}

.footer-section:last-child {
    text-align: right;
}

.footer-section:last-child img {
    display: block;
    margin: 10px auto 0;
}

.footer-bottom {
    background-color: #222;
    color: #ffffffd3;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.derechos {
    margin: 0;
}

/* MODAL  */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo transparente */
    overflow: auto; 
}

.modal-contenido {
    background-color: #fefefe; 
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px; 
    position: relative;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* modal */
#detalle-producto {
    text-align: center;
}

#confirmacion {
    text-align: center;
    margin-top: 20px;
}

#confirmacion button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirmacion button:hover {
    background-color: #45a049;
}

#metodo-pago {
    text-align: center;
    margin-top: 20px;
}

.metodo-img {
    width: 100px;
    margin: 0 10px;
}